<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  
  <appSettings>
    <add key="HeartbeatPort" value="6001"/>
    <add key="GetHostsPort" value="6002"/>
    <add key="HostName" value="tcp://127.0.0.1:{0}"/>
    <add key="EmptyListMessage" value="(empty)"/>
    <add key="ListSeparator" value="|"/>
    <add key="MaximumIntervalWithoutHeartbeatInMilliseconds" value="2000"/>
    <add key="CleanupUnresponsiveHostsIntervalInMilliseconds" value="100"/>
    <add key="ReceiveMessageTimeoutInMilliseconds" value="100"/>
  </appSettings>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="level" value="INFO"/>
      </factoryAdapter>
    </logging>
  </common>
  
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\PayByPhone\Logs\Proc_Messaging_Address_Broker\Proc_Messaging_Address_Broker-%property{log4net:HostName}-"/>
      <appendToFile value="true"/>
      <maxSizeRollBackups value="-1"/>
      <countDirection value="1"/>
      <maximumFileSize value="10MB"/>
      <datePattern value="yyyyMMdd'.log'"/>
      <rollingStyle value="Composite"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{yyyyMMdd HHmmss.fff} %-5level (%logger) [ThreadId: %t] - %message%newline"/>
      </layout>
      <threshold value="INFO"/>
    </appender>
    <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
      <to value="errors-dev@paybyphone.com"/>
      <from value="errors-dev@paybyphone.com"/>
      <subject type="log4net.Util.PatternString" value="Proc_Messaging_Address_Broker (%property{log4net:HostName})- Exception"/>
      <smtpHost value="10.103.25.13"/>
      <bufferSize value="1"/>
      <lossy value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%utcdate{yyyyMMdd HHmmss.fff} %-5level (%logger) [ThreadId: %t] - %message%newline"/>
      </layout>
      <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="ERROR"/>
      </evaluator>
    </appender>
    <root>
      <appender-ref ref="RollingLogFileAppender"/>
      <appender-ref ref="SmtpAppender"/>
    </root>
  </log4net>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
